PORT=3001
SECRETSALT=*** for hashing data
OPERATOR_ID=***    
OPERATOR_KEY=***
TOPIC_ID= this is to create account for users, required
MGS_REFRESH_TOKEN=*** required refresh token to sync into your managed guardian service
MGS_TENANT_ID=*** we used managed guardian service to make issuer create policy and businesses to be under issuer to submit data
JWT_SECRET=*** needed but you can use SECRETSALT value but it must be there, we want safe security that is why we use two secrets
VERIFICATION_TOPIC_ID=*** only needed when you will be testing issuer sending bond to the smart contract if not optional
TOKEN_ID=*** this is to mint nft for issuer after sending transaction to the bond, if you are not testing issuer that much, not needed
DB=*** your mongodb link to store data and get data, required
PINATA_JWT=*** required to write to ipfs your pinata jwt is , we write all users detail that create account on ipfs to, so if you will create an account for users it is needed, for you to test you must use this
PINATA_GATEWAY=*** the gateway for your pinata
PLATFORM_ISSUER_DID=*** this is when issuer paid into the bond and we want to verify them and give them a verified vc, not required if issuer wont be tested
MAINTENANCE_ADDRESS=*** address of the project on the smart contract so that you can talk to the smart contract, required if you will be testing the issuer
NFT_URI=*** required if you will testing the issuer to mint nft
