VITE_SECRET_KEY=*** just to help user store their key on the browser we will use hashpack in production, issuers will use hashpack to fund the bond, but this is for users that want to test to simulate how wallet works
VITE_APP_NAME=*** for the walletId setup
VITE_WALLETCONNECT_ID=*** to connect the hashpack for issuer alone if it wont be tested not needed